examples/shelly-pro-3em/Basic example.json
[
    {
        "id": "10487212391c5e40",
        "type": "tab",
        "label": "Shelly",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1caa3eec74308ff3",
        "type": "binsoul-shelly-pro-3em",
        "z": "10487212391c5e40",
        "outputProperty": "payload",
        "outputTarget": "msg",
        "deviceIp": "192.168.178.35",
        "updateMode": "never",
        "updateFrequency": "5",
        "name": "",
        "x": 340,
        "y": 80,
        "wires": [
            [
                "fd2ff63efbd003dc"
            ]
        ]
    },
    {
        "id": "c6d81f35e50ccb20",
        "type": "inject",
        "z": "10487212391c5e40",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "180",
        "crontab": "",
        "once": true,
        "onceDelay": "60",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "1caa3eec74308ff3"
            ]
        ]
    },
    {
        "id": "fd2ff63efbd003dc",
        "type": "debug",
        "z": "10487212391c5e40",
        "name": "manual update",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 80,
        "wires": []
    },
    {
        "id": "15c5dff023bb6deb",
        "type": "binsoul-shelly-pro-3em",
        "z": "10487212391c5e40",
        "outputProperty": "payload",
        "outputTarget": "msg",
        "deviceIp": "192.168.178.35",
        "updateMode": "messages",
        "updateFrequency": "3",
        "name": "",
        "x": 340,
        "y": 200,
        "wires": [
            [
                "a76dd6a66cd64447"
            ]
        ]
    },
    {
        "id": "a76dd6a66cd64447",
        "type": "debug",
        "z": "10487212391c5e40",
        "name": "automatic update",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 200,
        "wires": []
    }
]
